# Arquivos de Sistema e de IDE
.DS_Store
.vscode/
.idea/

# Arquivos de Ambiente
# Ignora todos os arquivos .env, exceto o de exemplo
.env
.env.*
!.env.example

# Dependências do Node.js
node_modules

# Arquivos de Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Saídas de Build do Frontend (Vite/SvelteKit)
/build
/.svelte-kit
/package
dist/
dist-ssr/
*.timestamp-*

# Saídas de Build do Rust e Tauri (MAIS IMPORTANTE)
/src-tauri/target/
/src-tauri/Cargo.lock
/src-tauri/gen/
/src-tauri/tauri.conf.json.bk

# Arquivos de Debug e Teste
*.rs.bk
*.profraw